body {
    font-family: sans-serif;
    margin: 10px
}

#map {
    height: 50vh;
    margin-top: 10px;
}

video,
canvas {
    width: 100%;
    max-width: 400px;
    margin-top: 10px;
    border: 1px solid #aaa
}